@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@400;500;600;700;800 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

.formulario{
    top: 50%;
    left: 50%;
    width: 400px;
    height: 550px;
    background: #f1f1f1;
    border-radius: 10px;
}

.formulario h1{
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #000000;
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username1{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 20px 0px;
}

.formulario p{
    font-size: 12px;
}

.username1 input{
    width: 100%;
    padding: 0px 10px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: #000000;
}

.username1 label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username1 span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000000;
    transition: .5s;
}

.username1 input:focus ~ label,
.username1 input:valid ~ label{
    top: -5px;
    color: #000000;
}

.username1 input:focus ~ span::before,
.username1 input:focus ~ span::before{
    width: 100%;
}

.mensaje{
    display: flex;
    justify-content:flex-end;
    opacity:0;
    transition: 0.8s ease all;
    transform: scale(0.7);
}

.texto{
    display: flex;
    justify-content: center;
    background: f1f1f1;
    width: 100%;
    color: red;
}

  /* Ocultar el msj de logueo */
.mensaje.active{
    opacity: 1;
    transform: scale(1);
}

.buttons{
    text-align: center;
}

input[type="submit"]{
    width: 180px;
    height: 40px;
    border: none;
    font-size: 18px;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background: #edb312;
}

input[type="submit"]:hover{
    background-color: #f8d77e;
    color: #000000;
}

.slider3{
    height: 140px;
    padding: 20px;
}

@media(max-width:500px){

    .formulario{
        background: #ffffff;
    }

}

