@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@400;500;600;700;800 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Poppins', sans-serif;
    background-color: #f8d77e;
    
  }
  
.contenedor{
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.5) 20px 20px 10px;
    border-radius: 20px;
  }
  
  .nav{
    display: flex;
    justify-content: flex-start;
    background-color: #edb312;
    width: 100%;
  }
  
  .enlaces{
    width: 40%;
  }

  .logo1{
    width: 60%;
  }
  .logo1 img{
    max-width: 50%;
    height: 100%;
  }
  
  .ocultar-peq{
    background-color: #edb312;
    text-decoration: none;
    color: white;
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    justify-content: flex-start;
    width: 100%;
    font-size: 18px;
  }
  
  
  
  
  
  
  
  
  .boton-menu{
    float: right;
    display: flex;
    justify-content:flex-end;
    align-items:stretch;
    width: 70%;
  }
  
  .boton-menu img{
    max-width: 50%;
    height: auto;
    background-color: #edb312;
  }
  
  .efecto{
    transition: 0.3s ease all;
  }
  
  .efecto:hover{
    color: black;
  
  }
  
  /*------------------Barra de navegación pequeño*/
  .nav-movil{
    display: flex;
    justify-content: center;
    width: 100%;
    /*--------------------Propiedad que oculta el menu */
    display: none;
  }
  /*----------------------Propiedad para mostrar el menu */
  .mostrar-menu{
    display: block;
  }
  .enlaces-movil{
    width: 100%;
    background-color: #edb312;
  }
  .enlaces-movil a{
    background-color: #edb312;
    text-decoration: none;
    color: white;
    flex-flow: row wrap;
    align-items:center;
    justify-content: flex-start;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    display: block;
  
  }
  
  .titulopage, .buscarnuevo{
    width: 100%;
    text-align: center;
    margin: 15px;
  }
  /*============================*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10%;

}
.car-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10% 30%;
}

.card {
    width: 200px;
    height: 300px;
    background-color: #edb312;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
    transition: transform 0.2s;
}

.card h2{
    padding: 50% 0 50% 0;
}

.card:hover {
    transform: scale(1.05);
    background-color: #f8d77e;
    color: black;
}

@media(max-width:600px){

    .card{
        width: 200px;
        height: 110px;
    }

    .card-container{
        height: 70%;
        flex-wrap: wrap;
    }

    .card h2 {
        padding: 20px 0 0 0;
    }

    .ocultar-peq{
        display: none;
    }
    .nav{
      height: 40px;
    }
  
  
  
    .enlaces{
      display:flex;
      align-items: stretch;
      justify-content: flex-end;
    }

  
}


@media (min-width: 600px) {
    .boton-menu {
    display: none;
    }
    /*------------propiedad que oculta el menu a la resolucion*/
    .nav-movil{
      display: none;
    }
    .nav .logo1{
      display: flex;
      justify-content: center;
    }
  
    .enlaces{
      display: flex;
      align-items: stretch;
      flex-flow: row wrap;
      width: 75%;
      height: 100%;
    }
    .contenedor{
      max-width: 1100px;
    }
    .parteIzquierdaitemInformacion{
      width: 70%;
    }
  
  
    .parteDerechaitemInformacion{
      width: 30%;
    }
  
    .botonModificar, .botonEliminar, .botonAgregar{
      width: 50px;
      height: 50px;
    }
  
    .botonModProducto, .botonElimiProducto{
      width: 35px;
      height: 35px;
    }
  
    .nav{
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
    .logo1{
      width: 25%;
    }
  
    .nav .logo1 a img{
      width: 120px;
      padding: 0;
    }
  
  
    /*======================================================*/
  
    .enlaces a, .enlaces .aqui{
      width: auto;
      padding: 15px;
    }
  
      
    .nav{
      margin-bottom: 5px;
    }
  
    /*======================================================*/
  
  
  }
  
